{{>licenseInfo}}

import { createHttpClient } from './http-client';
import {
  AdobeCredentials,
  Region,
  Environment,
{{#models}}
{{#model}}
  {{classname}},
{{/model}}
{{/models}}
} from './types';
import { createAuthService } from './auth';
import { config } from 'dotenv';

export interface Client {
{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
  /**
   * {{summary}}
   {{#notes}}
   * {{&notes}}
   {{/notes}}
   * @param data - {{#allParams}}{{#isBodyParam}}{{{dataType}}}{{/isBodyParam}}{{/allParams}} payload
   * @returns {Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}FeedResponse{{/returnType}}>} feed response indicating the number of accepted items
   * @throws {Error} if the API request fails
   */
  {{nickname}}({{#allParams}}{{#isBodyParam}}data: {{{dataType}}}{{/isBodyParam}}{{/allParams}}): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}FeedResponse{{/returnType}}>;
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
}

// THIS IS A TEST OF THE UPDATE SDK WORKFLOW PR CREATION

/**
 * Creates a client instance for interacting with the Adobe Commerce Optimizer API.
 *
 * @example
 *   ```typescript
 *   const client = createClient(
 *     {
 *       clientId: 'your-client-id',
 *       clientSecret: 'your-client-secret',
 *       scopes: 'adobeio_api,openid,AdobeID,read_organizations'
 *     },
 *     'your-tenant-id',
 *     'na1',
 *     'sandbox'
 *   );
 *
 *   // Use the client to interact with the API
 *   const response = await client.createProducts([product]);
 *   ```;
 *
 * @param credentials - Adobe IMS credentials for authentication
 * @param tenantId - The tenant ID for the API requests
 * @param region - The region for the API endpoint (e.g., 'us', 'eu')
 * @param environment - The environment to use ('production' or 'sandbox')
 * @returns {Client} A client instance with methods for interacting with the API
 */
export function createClient(
  credentials: AdobeCredentials,
  tenantId: string,
  region: Region,
  environment: Environment
): Client {
  // Read .env overrides if present
  config();
  const auth = createAuthService(credentials, process.env.IMS_BASE_URL_OVERRIDE ?? undefined);
  const http = createHttpClient(auth, tenantId, region, environment, process.env.BASE_URL_OVERRIDE ?? undefined);

  return {
{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}
    async {{nickname}}({{#allParams}}{{#isBodyParam}}data: {{{dataType}}}{{/isBodyParam}}{{/allParams}}): Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}FeedResponse{{/returnType}}> {
      return await http.request<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}FeedResponse{{/returnType}}>(`{{{path}}}`, {
        method: '{{httpMethod}}',
        {{#hasBodyParam}}
        body: JSON.stringify(data),
        {{/hasBodyParam}}
      });
    },

{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}
  };
}
