# This is only used for the Example Client in example-client.ts
# Real usage will instantiate the client with the appropriate credentials

# IMS Credentials
IMS_CLIENT_ID=
IMS_CLIENT_SECRET=
IMS_SCOPES=
IMS_BASE_URL_OVERRIDE=

## Instance Configuration
CELL_ID=
TENANT_ID=
BASE_URL_OVERRIDE=
